<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.game.mapper.GomokuRoomMapper">

    <resultMap type="com.ruoyi.game.domain.GomokuRoom" id="GomokuRoomResult">
        <result property="id" column="id"/>
        <result property="roomId" column="room_id"/>
        <result property="hostId" column="host_id"/>
        <result property="guestId" column="guest_id"/>
        <result property="status" column="status"/>
        <result property="gameState" column="game_state"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
